@font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins');
  }
  

body{
    background-color: rgba(248, 254, 250, 1);
}
*, html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    width:100%;
    height:5vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:0;
    background-color: rgba(248, 254, 250, 1);
    margin:0 auto 100px auto;
    position:sticky;
    z-index: 4;
}
.container  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: 0 auto 0 auto;
}
header > nav{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
    width:100%;
}
nav > image {
    width:100px;
    height:auto;
}
.navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width:50%;
}
.nav-item{ 
    text-decoration: none;
    white-space: nowrap;
    display: block;
    font-size: 1.3rem;
    margin: 0 5% 0 5%;
}
.nav-link {
    position:relative;
    font-size: 1.1rem;
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    top:25px;
    right: -1px;
    height: 5px;
    width:100%;
    transform: rotate(-1.5deg);
}
.nav-link.active::after{
    background-color: #FBC1FF;
}
.nav-link:hover::after {
    background-color: black;
}
#header_buttons{
    width: 28%;
    height: 70%;
    display: flex;
    flex-wrap: nowrap;
    margin-right:40px;
    flex-direction: row;
    justify-content: space-between;
}
 
header > img{
    margin: auto 0 auto 10%;
}
.job_btn{
    background-color: white;
    border: 3px solid black;
    padding: 20px 50px 20px 50px;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 600;
    transition:filter 0.3s;
}
.talent_btn{
    background-color: #FAE82E;
    padding: 23px 53px 23px 53px;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 600;
    transition:filter 0.3s;
}
.talent_btn:hover{
    cursor:pointer;
    filter: drop-shadow(-5px -5px 0px #FBC1FF);
}
.job_btn:hover{
    cursor:pointer;
    filter: drop-shadow(-5px -5px 0px #FBC1FF);
}
.point{
    height:24px;
    width:24px;
    background-color: #FBC1FF;
    margin-left: 50px;
    margin-right: 50px;
}
.flex-1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:50%;
    margin-left: calc(50% - 124px);  
    margin-right: 0px;
}
.reverse{
    flex-direction: row-reverse;
    margin-left: 0;
    margin-right: calc(50% - 124px);  
    text-align: right;
}
.flex-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
#section_1{
    width:100%;
    height: 40vw;
    display: flex;
    justify-content: space-evenly;
    margin:0 0 0 15%;

}

#section_1 > #text-wrapper{
    display: block;
}

h1{
    position:relative;
    white-space: nowrap;
    font-size: 4rem;
    line-height: 140%;
    font-weight: 600;
}
  

#section_1 > #text-wrapper > p{
    margin-top: 60px;
    font-size: 1.4rem;
    width:80%;
}
#section_1 > img{
    height: 100%;
    width:auto;
}
.shadow{
    filter: drop-shadow(-20px -20px 0px #FBC1FF);
}
#top-button-section{
    margin-top: 150px;
    width:100%;
    padding-left: 30%;
}
#top-button-section p{
    margin-bottom: 10px;
    font-size: 20px;
}

#section_2{
    position:relative;
    display: flex;
    width: auto;
    width:100%;
    margin: 50px 0 100px 0;
    height:400px;
    justify-content: space-between;
    align-content: center;
    
}
#left1{
    height: 100%;
    width: 450px;
    padding-top:100px;
}
#left1 p{
    font-size: 45px;
    width: 450px;
    margin-bottom: 60px;
}
#right1{
    margin-top:auto;
    margin-bottom: auto;
    font-size:17px;
    width:600px;
}
#section_3{
    height:500px;
    display: flex;
    width:100%;
    margin: 50px 0 100px 0;
    justify-content: space-between;
    align-content: center;
}
#section_3 img{
    width:auto;
    height: 60%;
}
#right2{
    height: 100%;
    width:600px;
}

#header2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 50px;
}
#right2 > p:last-of-type{
    display: block;
    width:80%;
    margin-bottom: 35px;
    font-size:15px;
}
#pattern_1{
    z-index: -1;
    position:absolute;
    top:50%;
    left:0;
}
#arrow_1{
    z-index:-1;
    position: absolute;
    height:auto;
    width: 100px;
    top:550px;
    left:22%;
}
.rndh{
    font-size: 40px;
    font-weight: bold;
    margin-left: 15%;
    margin-bottom: 100px;
}
#section_4{
    height: 800px;
    width:100%;
    display: flex;
    justify-content: space-between;
}
#left_3{
    height:100%;
    width: 600px;
}
#left_3 .popup{
    margin-bottom: 50px;
    margin-left: 50px;
}

#section_4 img:not(.active, .shadow){
    transform: rotate(-90deg);
}
#section_4 img{
    height: 80%;
}
.yellow_bar{
    width:80%;
    height:70px;
    background-color: #FAE82E;
    display: flex;
    margin-bottom: 40px;
    padding: 0 10% 0 10%;
    justify-content: space-between;
    align-items: center;
}
.yellow_bar img{
    width:25px;
}
.yellow_bar p{
    font-weight: bold;
    font-size: 20px;
}
.grayify{
    background-color: #f8fcda;
}
#section_5{
    width:100%;
    height:700px;  
    background-image: linear-gradient(rgba(255,255,255, 1), rgba(255,255,255,0.8),rgba(255,255,255,1)), url("./images/why-us-bg.jpg");
}
#section_5 #grid_wrapper{
    width: 100%;
    height:100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width:80%;
    margin: 0 10% 0 10%;
}
#txt1_1{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}
#txt3_2{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
}
#txt1_3{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}
#txt3_4{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
}
#big_title{
    display: block;
    position: relative;
    margin: 30px 0 0 40%;
    font-size: 45px;
    font-weight: bold;
}
#partners{
    width:100%;
    margin-top:150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#partners li {
    width:10%;
    overflow: hidden;
}

#partners li img{
    width:100%;
}

#section_6{
    display: flex;
    justify-content: space-between;
    height:600px;
    width:100%;
    margin: 150px 0 0 0;
    padding: 10px;
    position:relative;
}
#diagonal-stripe{
    z-index: -1;
    height:700px;
    width:3000px;
    left:-400px;
    top:-50px;
    transform: rotate(3deg);
    position:absolute;
    background-color: #FAE82E;
}
#white-stripe{
    z-index:2;
    height:100px;
    width:3000px;
    left:-400px;
    top:650px;
    transform: rotate(3deg);
    position:absolute;
    background-color: white;
}

#quotes{
    z-index: -1;
    height:137px;
    width:200px;
    left:-120px;
    top:140px;
    position:absolute;
    background:url("./images/quotes.svg");
    opacity: 0.6;
}

#left4{
    width:600px;
    height:100%;
}
#left4 p{
    margin-top: 40px;
}
.title{
    font-size: 50px;
    font-weight: bolder;
}
.quote{
    font-size: 20px;
}
.author{
    font-size: 25px;
    font-weight:600;
}
#left4 button{
    margin-top: 20%;
    margin-left: 50%;
    background-color: #FFFFFF;
    border:1px solid #FAE82E;
}
#section_6 img{
    height:100%;
    margin-top: 60px;
}
#section_7{
    z-index: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    height:800px;
    width:100%;
    margin:100px 0 100px 0;
}
#left5{
    width:30%;
}
#left5 p:not(:last-of-type){
    margin-bottom: 20%;
    font-size: 50px;
    font-weight: bold;
}
#left5 p{
    margin-bottom: 40%;
}
#left5 ul{
    margin-bottom: 15%;
    list-style-type: none;
}
#left5 ul li{
    margin-bottom: 5%;
    font-weight: 300;
}
#left5 ul li:first{
    font-weight: bold;
}
#address{
    margin-bottom: 55%;
    font-weight: bold;
    font-size: 20px;
}
#section_7 img{
    width:auto;
    height: 60%;
}

#right5{
    width:40%;
}
#right5 p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.fill{
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 3px;
    color:white;
}

#name{
    height: 50px;
}
#email{
    height:50px
}
#message{
    display: block;
    width: 100%;
    background-color: #FFFFFF;
    border: solid 1px black;
    border-radius: 3px;
    color: black;
    max-width: 100%;
    min-width: 100%;
    max-height: 400px;
    min-height: 200px;
}
footer{
    width:100%;
}
#top_footer{
    height:70px;
    width: 100%;
}
#bottom_footer{
    height: 50px;
    background-color: #FAE82E;
}
#flex_wrapper{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin:auto;
    align-items: center;
}
#top_footer > nav{
    width: 40%;
    margin: auto;
    height: 100%;
}
#top_footer > nav > ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    align-items: center;
}
#top_footer > nav > ul > li{
    display: block;
    margin: 0 10px 0 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;  
}
.sparkle{
    position: absolute;
    background-color: #FAE82E;
    height:85px;
    width:350px;
    left:-22px;
    z-index: -1;
    display: inline-block;
    transform: rotate(-2deg);
}
.underline{
    position: relative;
}
.underline::before{
    z-index: -1;
    position: absolute;
    content: "";
    left: 0;
    top: 105%;
    right: 0;
    border-top: 15px solid #FBC1FF;
    transform:rotate(-2deg);

}
.particle-wrapper{
    width:fit-content;
    height: fit-content;
    position: relative;
}
.relative{
    position: relative;
}
.sparkle-tr{
    z-index: 3;
    position:absolute;
    height:50px;
    width:30px;
    top:-50px;
    right:-40px;
    transform: scaleX(-1);
    background: url("./images/particle_1.png");
    color:#FAE82E
}
.sparkle-bl{
    z-index: 3;
    position:absolute;
    height:50px;
    width:30px;
    bottom:-50px;
    left:-40px;
    transform: rotate(180deg);
    transform: scaleY(-1);
    background: url("./images/particle_1.png");
    color:#FAE82E
}
.sparkle-br{
    z-index: 3;
    position:absolute;
    height:50px;
    width:30px;
    bottom:-50px;
    right:-40px;
    transform:rotate(180deg);
    background: url("./images/particle_1.png");
    color:#FAE82E
}
.sparkle-br-startups{
    z-index: 3;
    position:absolute;
    height:50px;
    width:30px;
    left: 340px;
    bottom:-40px;
    transform:rotate(180deg);
    background: url("./images/particle_1.png");
    color:#FAE82E
}
.sparkle-tl-startups{
    z-index: 3;
    position:absolute;
    height:50px;
    width:30px;
    left: -60px;
    top:50px;
    background: url("./images/particle_1.png");
    color:#FAE82E
}
.launch-wrapper{
        height:fit-content;
        width:fit-content;
}
form{
    margin-top: 50px;
    z-index: 3;
    position: relative;
}

.sparkle-tr{
    top:-50px;
    right:-40px;
}
.sparkle-br{
    bottom:-50px;
    right:-40px;
}
.modifier-tr{
    top:50px;
}
.modifier-br{
    bottom:55px;
}
#background-stripe1{
    z-index: -1;
    height:450px;
    width:3000px;
    left:-400px;
    top:0px;
    transform: rotate(3deg);
    position:absolute;
    background-color: white;
}